<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Joobsy - Responsive Landing Page Tamplate</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Themesdesign" />

    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Rubik:300,400,500" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" />

    <link rel="stylesheet" type="text/css" href="css/fontawesome.css" />

    <!-- selectize css -->
    <link rel="stylesheet" type="text/css" href="css/selectize.css" />

    <link rel="stylesheet" type="text/css" href="css/nice-select.css" />

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />


</head>

<div>

    Maecenas ac ligula sed risus feugiat pretium. In eget purus est. Sed ipsum felis, posuere at efficitur ut, dapibus in nibh. Morbi quis tellus vel ex tincidunt convallis. Aliquam sed erat hendrerit, malesuada odio id, imperdiet sapien. Vivamus maximus ac risus eu tempus. Morbi blandit pellentesque mi id hendrerit. Pellentesque nec hendrerit lacus, luctus sodales ante. Cras sed semper arcu, non dictum quam. Aliquam in lectus elit. Integer eget auctor nunc, sed condimentum nisi. Cras efficitur dui ac magna rutrum, nec semper risus viverra. Vivamus fermentum eleifend mi, lobortis eleifend turpis consequat pellentesque. Quisque faucibus hendrerit nulla vitae pharetra. Curabitur tristique quis urna non placerat. Aenean facilisis tellus eget turpis viverra, nec eleifend quam placerat.

    Praesent sed tempus tortor, ut vehicula diam. Sed non mattis nulla. Praesent convallis faucibus ante nec interdum. Suspendisse varius mauris neque, nec tincidunt tellus porta vitae. Proin augue nisi, fermentum vitae augue sit amet, laoreet hendrerit massa. Nulla laoreet pretium odio, a sodales metus lacinia in. Pellentesque pulvinar sapien suscipit lacus ullamcorper tempor. Nulla at diam eu purus volutpat vehicula. Etiam sed ligula nulla.
cus nec lorem blandit accumsan. Nunc id erat posuere, euismod lacus sed, pretium lorem. Quisque faucibus nisi a risus congue laoreet. Sed tristique pretium tortor ac vehicula. Praesent a libero in sapien placerat lobortis. Vivamus vitae commodo lorem. Ut congue varius turpis non eleifend. Proin euismod finibus arcu, ac blandit est. Ut imperdiet dolor posuere dui facilisis, nec posuere nibh finibus. Aenean dictum, leo eget facilisis euismod, mi mauris faucibus augue, vulputate consequat arcu ligula vel orci. Pellentesque vitae lobortis odio. Aliquam erat volutpat. Proin maximus euismod sem ac vulputate. Sed at massa eros. Nunc ac tincidunt nunc.

    Sed ac dictum purus. Duis placerat consectetur condimentum. Integer eu facilisis velit. Donec vulputate dictum eros at blandit. In pharetra convallis purus et pellentesque. Etiam dignissim porttitor porttitor. Pellentesque suscipit tincidunt arcu, viverra imperdiet magna dapibus eu.

    Vestibulum tincidunt orci a ultrices fermentum. Phasellus gravida sit amet massa et bibendum. Nam orci urna, pellentesque eu imperdiet nec, pellentesque et odio. Sed dignissim finibus mi eu facilisis. Vestibulum interdum convallis vulputate. Pellentesque sollicitudin ex ut augue faucibus, eu rhoncus sapien luctus. Proin ut pharetra risus. Vivamus vel posuere sem. Donec pretium, erat eu malesuada blandit, metus ipsum auctor odio, quis venenatis massa ipsum sed risus. Ut venenatis orci orci, vel consectetur nulla porta eget. Fusce quis dictum tortor, eget tincidunt dui. Integer ultrices mauris id tempus lacinia.
</div>

<div class="container">
    <div class="home-form-position">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="home-registration-form bg-white job-list-reg-form p-4 mb-3">
                    <form class="registration-form">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="registration-form-box">
                                    <i class="fa fa-briefcase"></i>
                                    <input type="text" id="exampleInputName1" class="form-control registration-input-box" placeholder="Job keybords...">
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="registration-form-box">
                                    <i class="fa fa-location-arrow"></i>
                                    <select id="select-country" class="demo-default" placeholder="Search Location...">
                                        <option value="">Location</option>
                                        <option value="VU">Vanuatu</option>
                                        <option value="VE">Venezuela, Bolivarian Republic of</option>
                                        <option value="VN">Viet Nam</option>
                                        <option value="VG">Virgin Islands, British</option>
                                        <option value="VI">Virgin Islands, U.S.</option>
                                        <option value="WF">Wallis and Futuna</option>
                                        <option value="EH">Western Sahara</option>
                                        <option value="YE">Yemen</option>
                                        <option value="ZM">Zambia</option>
                                        <option value="ZW">Zimbabwe</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="registration-form-box">
                                    <i class="fa fa-list-alt"></i>
                                    <select id="select-category" class="demo-default" placeholder="Categories...">
                                        <option value="">Categories...</option>
                                        <option value="4">Accounting</option>
                                        <option value="1">IT & Software</option>
                                        <option value="3">Marketing</option>
                                        <option value="5">Banking</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="registration-form-box">
                                    <input type="submit" id="submit" name="send" class="submitBnt btn btn-custom btn-block" value="Submit">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- javascript -->
<!-- javascript -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/plugins.js"></script>

<!-- selectize js -->
<script src="js/selectize.min.js"></script>
<script src="js/counter.int.js"></script>

<script src="js/jquery.nice-select.min.js"></script>

<script src="js/app.js"></script>

</body>
</html>